/* 版心 */
.main {
    width: 1090px;
    margin: 0 auto;
}

* {
    box-sizing: border-box;
}

/* 头部 */
.head {
    width: 100%;
}

.head header {
    height: 40px;
    line-height: 40px;
    width: 100%;
    background-color: #333;
    box-sizing: border-box;
}

/* 头部上右 */
.head header .top-right {
    float: right;
}

.head header .top-right .navList {
    float: left;
    font-size: 12px;
    position: relative;
}

.head header .top-right .navList .top_nav {
    color: #b0b0b0;
    padding: 0 10px;
    border-right: 1px solid #5c5c5c;
}

.head header .top-right .navList .top_nav:hover {
    color: #ffffff;
}

.head header .top-right .navList .noBorder {
    border-right: 0;
}


.head header .top-right .navList .arrow-box i {
    display: inline-block;
    transform: rotate(180deg);
    width: 15px;
    height: 10px;
    overflow: hidden;
    background: url(../img/xuebitu.webp) no-repeat;
    background-position: 0px -688px;
}

.head header .top-right .navList .noBorder i {
    display: inline-block;
    width: 7px;
    height: 11px;
    overflow: hidden;
    background: url(../img/xuebitu.webp) no-repeat;
    background-position: 0px 0px;
}

/* 头部上右隐藏盒子 */
.navList .hidden {
    background: #ffffff;
    color: #b0b0b0;
    font-size: 10px;
    width: 85px;
    text-align: center;
    padding: 0px 3px;
    box-shadow: 1px 1px 2px #b0b0b0, -1px 1px 2px #b0b0b0;
    position: absolute;
    left: 0px;
    top: 40px;
    display: none;
    z-index: 999;
}

.navList .hidden .hidden_choose {
    padding: 10px 5px;
    border-bottom: 1px solid #b0b0b0;
    height: 30px;
    line-height: 30px;
    color: #ccc;
}

.navList .hidden .hidden_choose:hover {
    color: #cc9756;
}

.navList .hidden .noBorder {
    border-bottom: 0;
}

.navList .hidden span {
    transform: rotate(180deg);
    font-size: 0px;
}

.navList .hidden span i {
    display: inline-block;
    width: 15px;
    height: 10px;
    overflow: hidden;
    background: url(../img/xuebitu.webp) no-repeat;
    background-position: 0px -702px;
    position: absolute;
    top: -10px;
    left: 33px;
}

.appear_box:hover .hidden {
    display: block;
}

.hidden.app_box {
    position: absolute;
    left: -40px;
    top: 40px;
    width: 170px;
    height: 185px;
    padding: 10px;
}

.hidden.app_box img {
    width: 100%;
    height: 100%;
}

.hidden.app_box p {
    font-size: 12px;
    margin-top: -20px;
    color: #cca77d;
    text-align: center;
}

.navList .app_box span i {
    position: absolute;
    top: -10px;
    left: 60px;
}

/* 头部中间部分 */
.head header .top_middle {
    height: 100px;

}

/* logo位置 */
.head header .top_middle .logo {
    margin-top: 20px;
    float: left;
}

.head header .top_middle .logo a i {
    display: inline-block;
    width: 212px;
    height: 75px;
    background: url(../img/xuebitu.webp) no-repeat;
    background-position: 0px -290px;
    overflow: hidden;
}

/* 搜索框 */
.head header .top_middle .search {
    height: 121px;
    float: left;
}

.head header .top_middle .search_box {
    position: relative;
    margin-left: 160px;
    margin-top: 5px;

}

.head header .top_middle .search_box .search_input {
    height: 36px;
    padding-top: 26px;
}

.head header .top_middle .search_box input {
    height: 38px;
    width: 440px;
    border: 1px solid #cc9756;
    border-top-left-radius: 19px;
    border-bottom-left-radius: 19px;
    background: url(../img/xuebitu.webp) no-repeat;
    background-position: 15px -508px;
    padding-left: 35px;
    overflow: hidden;
    float: left;
}

/* 搜索按钮 */
.head header .top_middle .search_box .btn {
    height: 38px;
    width: 90px;
    border: 1px solid #cc9756;
    background-color: #cc9756;
    color: #fff;
    border-left: 0;
    text-align: center;
    font-size: 18px;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    cursor: pointer;
    float: right;
}

.head header .top_middle .search_box .btn:hover {
    background-color: rgba(204, 151, 86, 0.5);
}

.head header .top_middle .search_box .search_choose {
    margin-top: 10px;
    margin-left: 10px;
    height: 18px;
    line-height: 18px;
}

.head header .top_middle .search_box .search_choose a {
    border-right: 1px solid #ccc;
    padding: 0px 10px;
    color: #cc9756;
    font-size: 12px;
    line-height: 12px;
}

.head header .top_middle .search_box .search_choose .noBorder {
    border-right: 0;
}

/* 购物车 */
.head header .top_middle .shop_car {
    width: 136px;
    border: 1px solid #cc9756;
    border-radius: 19px;
    padding: 8px 0;
    cursor: pointer;
    height: 40px;
    line-height: 22px;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
}

.head header .top_middle .shop_car .buy .car i {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url(../img/xuebitu.webp);
    background-position: 8px -83px;
}

.head header .top_middle .shop_car .buy span {
    font-size: 14px;
    color: #cc9756;
    margin-left: 5px;
}

.head header .top_middle .shop_car .buy .count i {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background: url(../img/xuebitu.webp);
    background-position: 6px -50px;
    text-align: center;
    color: #fff;
    font-style: normal;
}

.head header .top_middle .shop_car:hover {
    background-color: #f3f5ef;
}

/* 头部下方区域 */
.head header .top_bottom {
    height: 20px;
    line-height: 20px;
    margin-top: 20px;
    position: relative;
}

.head header .top_bottom nav ul li {
    padding: 0 25px;
    float: left;
}

.head header .top_bottom nav ul li a {
    color: #333;
    font-weight: 700;
    font-size: 14px;
    padding: 8px 0;
}

.head header .top_bottom nav ul li a:hover {
    color: #cc9756;
    border-bottom: 3px solid #cc9756;
}

.head header .top_bottom nav ul .only_box a {
    color: #cc9756;
    border-bottom: 3px solid #cc9756;
    padding: 7px 0;
    margin-left: -23px;
}

.head header .top_bottom nav ul .only_border {
    border-right: 1px solid #b0b0b0;
}

.head header .top_bottom nav ul .home_box {
    position: absolute;
    top: 20px;
    left: -65px;
    border: 1px solid #ccc;
    margin-top: 10px;
    display: none;
    box-sizing: border-box;
    width: 1310px;
    background: #fff;
    z-index: 999;
}

.head header .top_bottom nav ul {
    float: left;
}

.head header .top_bottom nav ul .show_box:hover .home_box {
    display: block;
}

.head header .top_bottom nav ul .home_box .small_box {
    height: 450px;
    margin-left: 20px;
    float: left;
}

.head header .top_bottom nav ul .home_box .small_box .noMarign {
    margin-right: -10px;
}

.head header .top_bottom nav ul .home_box .small_box .small_title {
    padding: 20px 15px 10px 0;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-left: 20px;
}

.head header .top_bottom nav ul .home_box .small_box .room_box {
    margin: 10px 0;
    padding: 0 9px;
}

.head header .top_bottom nav ul .home_box .small_box .room_box .small_room {
    margin-right: 10px;
    font-size: 0;
    padding: 5px 0;
    width: 125px;
}

.head header .top_bottom nav ul .home_box .small_box .room_box .small_room img {
    width: 50px;
    height: 50px;
    vertical-align: middle;
}

.head header .top_bottom nav ul .home_box .small_box .room_box .small_room span {
    vertical-align: middle;
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    overflow: hidden;
    word-wrap: break-word;
    width: 70px;
}

.head header .top_bottom nav ul .home_box .small_box .room_box .small_room a:hover {
    border-bottom: 0;
    color: #cca77d;
}

/* banner */
.container {
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
    margin-top: 150px;
}

.container .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.container .wrapper .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
    opacity: 0;
    transition: opacity .3s;
}


.container .wrapper .slide:nth-child(1) {
    z-index: 1;
    opacity: 1;
}

.container .wrapper .slide img {
    height: 100%;
    position: relative;
    left: -15%;
}

/* 分页器 */
.pagination {
    position: absolute;
    z-index: 998;
    bottom: 4px;
    width: 100%;
    text-align: center;
}

.pagination li {
    display: inline-block;
    margin: 0 8px 10px;
    width: 8px;
    height: 8px;
    cursor: pointer;
    font-size: 0;
    line-height: 0;
    border: 1px solid #cecece;
    background: #fff;
    font-size: 0;
    line-height: 0;
    border-radius: 50%;
}

.pagination li.active {
    box-shadow: 0 0 0 4px #dfcead;
    border-radius: 50%;
    background: #a7936e;
    border: none;
}

/* 左右按钮 */
.arrow {
    position: absolute;
    z-index: 998;
    top: 53%;
    margin-top: -22.5px;
    width: 60px;
    height: 55px;
    cursor: pointer;
    background: url(../img/arrow.webp) no-repeat;
}

.arrow.changeLeft {
    left: 156px;
    background-position: 9px -5252px;
}

.arrow.changeRight {
    right: 156px;
    background-position: 9px -5471px;
}

.arrow.arrow.changeLeft,
.arrow.changeRight {
    background-color: #e2c199;
    border-radius: 50%;
}

.arrow.changeLeft:hover,
.arrow.changeRight:hover {
    background-color: #cc9756;
}

/* 新品首发 */
.m-newProducts {
    height: 510px;
    margin-top: 30px!important;
}

a {
    color: #333;
}
/* 人气推荐 */
.new_title {
    padding-bottom: 20px;
}

.new_title .title_left {
    line-height: 1;
    float: left;
}

.new_title .title_left h3 {
    float: left;
    font-size: 28px;
    font-weight: 700;
    margin-right: 20px;
    color: #333;
    line-height: 1;
}

.new_title .title_left h3:hover {
    color: #a7936e;
}

.new_title .title_right {
    float: right;
}

.new_title .title_right a {
    color: #333333;
    font-size: 14px;
    display: inline-block;
    margin-left: 30px;
    padding-top: 14px;
}

.new_title .title_right a:hover {
    color: #a7936e;
}
.reco_box {
    background-color: #f4f0ea;
    padding: 60px 0;
} 
.second {
    float: left;
    padding-left: 13px;
    overflow: hidden;
}

.second .innerWrap .item {
    text-align: center;
    float: left;
    font-size: 14px;
    width: 70px;
    height: 28px;
    line-height: 28px;
    margin-right: 55px;
}

.innerWrap .innerWrap {
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.second .innerWrap .item.change {
    border-bottom: 2px solid #b4a078;
}

.second .innerWrap .change a {
    color: #b4a078;
}

.second .innerWrap .item:hover a {
    color: #b4a078;
}

.shoeContainer {
    clear: both;
    overflow: hidden;
}

.m_popularItem:first-child {
    width: 390px;
    height: 570px;
    margin-left: 0;
}

.m_popularItem {
    background: #fff;
    overflow: hidden;
    width: 223px;
    height: 280px;
    float: left;
    margin-left: 10px;
    text-align: center;
}

.m_product {
    line-height: 1;
    font-size: 13px;
    position: relative;
}

.m_popularItem:first-child .hd {
    margin-bottom: 18px;
}

.m_popularItem .hd {
    background: 0 0;
    border-bottom: 1px solid #f4f0ea;
}

.m_product .hd {
    position: relative;
    margin-bottom: 8px;
    overflow: hidden;
}

.m_popularItem:first-child .hd .img {
    width: 320px;
    height: 320px;
    margin: 40px 35px;
}

.m_popularItem .hd .img {
    width: 180px;
    height: 180px;
}

.white {
    background-color: #fff;
    color: #fff;
}

.m_product .hd .colorNum {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    font-size: 12px;
    color: #a7936e;
    border: 1px solid #b3a07d;
    border-radius: 5px;
    padding: 0 4px;
    line-height: 18px;
    background-color: #f4f0ea;
}

.m_product .promBanner {
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-repeat: no-repeat;
    padding-right: 10px;
}

.m_product .promBanner .promTitle {
    max-width: 200px;
    height: 36px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: right;
    margin-top: -6px;
    z-index: 1;
    padding-left: 8px;
    padding-right: 14px;
    float: left;
    border-top-left-radius: 3px;
}

.m_product .promBanner .promTitle .title {
    font-size: 12px;
    height: 15px;
    line-height: 1;
    margin-top: 5px;
    margin-left: 0;
    padding-top: 0;
}

.m_product .promBanner .promTitle .subTitle {
    font-size: 14px;
    height: 20px;
    line-height: 14px;
    margin-top: -1px;
    font-weight: 700;
}

.m_product .promBanner .promTitle .title,
.m_product .promBanner .promTitle .subTitle {
    text-align: center;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.m_product .promBanner .promContent {
    color: #fff;
    text-align: left;
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    margin-left: 4px;
    padding-left: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.m_popularItem:first-child .bd .prdtTage {
    margin-bottom: 10px;
}

.m_popularItem .bd .prdtTage {
    margin-bottom: 4px;
}

.m_product .prdtTage {
    height: 20px;
    font-size: 0;
    color: #fff;
    width: 200px;
    margin: 0 auto 3px;
    overflow: hidden;
}

.m_itemTag:first-child {
    margin-left: 0;
}

.m_itemTag {
    margin-left: 6px;
}

.m_itemTag {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #fff !important;
    padding: 0 5px;
    font-size: 12px;
    background-color: #e36844;
}

.m_popularItem:first-child .bd .name {
    line-height: 26px;
    max-height: 52px;
    margin: 0 auto 13px;
    font-size: 18px;
    width: 248px;
}

.m_popularItem .bd .name {
    width: 136px;
    margin: 0 auto 4px;
}

.m_product .name {
    width: 166px;
    margin: 0 auto 4px;
    max-height: 40px;
    line-height: 20px;
    overflow: hidden;
    display: -webkit-box;
}

.m_product .name:hover a {
    color: #a7936e;
}

.m_popularItem:first-child .bd .price {
    font-size: 18px;
}

.m_product .price {
    line-height: 13px;
    font-size: 13px;
    color: #d4282d;
    padding: 1px 0 9px;
    margin: 0;
    text-align: center;
}

.m_popularItem:first-child .bd .price span {
    font-size: 18px;
    height: 18px;
    line-height: 1;
}

.m_product .price .retilPrice,
.m_product .price .counterPrice {
    position: relative;
    top: 1px;
}

.m_product .price span {
    line-height: 20px;
    height: 20px;
    padding: 0;
    display: inline-block;
    overflow: hidden;
}

.m_popularItem:first-child .bd .price .counterPrice {
    top: 1px;
}

.m_product .price .counterPrice {
    color: #999;
    top: 2px;
    text-decoration: line-through;
    margin-left: 6px;
    font-size: 12px;
}

.m_popularItem:first-child .bd .price .counterPricespan {
    font-size: 14px;
    top: 4px;
}

.m_product .price .counterPrice span {
    display: inline;
}

.m_popularItem.down {
    margin-top: 10px;
}

.appfreshmanTag.m_itemTag {
    background: #dd1a2e;
}

html.csstransitions .m-flashSale {
    transition: all .6s;
    opacity: 1;
    height: 535px;
}

.m-flashSale .g-row {
    padding-top: 58px;
}

.g-row {
    width: 1090px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.g-row:after,
.g-row:before {
    content: " ";
    display: table;
}

.m-commonHeader {
    padding-bottom: 20px;
    height: 48px;
}

.f-left {
    float: left;
}

.m-commonHeader .lh1 {
    line-height: 1;
}

.m-commonHeader .lh1 a:hover {
    color: #b4a078;
}

.m-commonHeader .name {
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    float: left;
    margin-right: 20px;
}

.f-right {
    float: right;
}

.m-commonHeader .moreItems {
    display: inline-block;
    line-height: 1;
    margin-left: 30px;
    padding-top: 14px;
    cursor: pointer;
}

.f-fz14 {
    font-size: 14px;
}

.moreItems:hover {
    color: #b4a078;
}

.m-flashSale .bd {
    height: 429px;
    width: 100%;
    overflow: hidden;
}

.m-flashSale .flashSaleLt {
    position: relative;
    height: 429px;
    width: 224px;
    padding-top: 60px;
    float: left;
    text-align: center;
    background: url(../img/限时购.webp) center center no-repeat #fff;
}

.m-flashSale .flashSaleLt .screenHd {
    height: 36px;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 11px;
    color: #615548;
}

.m-flashSale .flashSaleLt .line {
    width: 20px;
    height: 2px;
    margin: 0 auto 18px;
    background: #61594b;
}

.m-flashSale .flashSaleLt .screenEndTips {
    margin-bottom: 18px;
    font-size: 18px;
    color: #615548;
    line-height: 22px;
    height: 22px;
}

.m-flashSale .flashSaleLt .m-countDown {
    height: 40px;
    margin-bottom: 50px;
    text-align: center;
}

.m-flashSale .flashSaleLt .m-countDown span {
    display: inline-block;
}

.m-flashSale .flashSaleLt .m-countDown .w-cd {
    width: 40px;
    color: #fff;
    font-size: 18px;
    line-height: 40px;
    background-color: #615548;
    border-radius: 2px;
}

.m-flashSale .flashSaleLt .m-countDown .colon {
    font-weight: 700;
    padding: 0 2px;
}


.m-flashSale .flashSaleLt .seeMoreBtn {
    display: block;
    width: 110px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
    color: #fff;
    font-size: 14px;
    background-color: #a7936e;
    cursor: pointer;
    border-radius: 15px;
}

.m-flashSale .flashSaleRt {
    margin-left: 224px;
    height: 429px;
}

.m-flashSale .flashSaleRt .m-flashSaleProduct {
    float: left;
    width: 433px;
    height: 214px;
    border: 1px solid #f0ece4;
    border-left: none;
}

.m-flashSaleProduct {
    float: left;
    width: 433px;
    height: 214px;
    background-color: #fff;
}

.m-flashSaleProduct .lt {
    float: left;
    width: 180px;
    height: 180px;
    cursor: pointer;
    overflow: hidden;
    margin: 3px 0;
}

.m-flashSaleProduct .lt .picIn {
    position: relative;
    display: block;
}

.m-flashSaleProduct .lt .pic {
    width: 180px;
    height: 180px;
    border: 1px solid transparent;
    transition: transform 1s;
    display: block;
    margin: 0 auto;
}

.m-flashSaleProduct .rt {
    margin-left: 180px;
    height: 187px;
    padding-top: 14px;
}

.m-flashSaleProduct .rt .itemName {
    display: -webkit-box;
    overflow: hidden;
    max-height: 52px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    color: #666;
}

.m-flashSaleProduct .rt .itemDes {
    height: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.m-flashSaleProduct .rt .itemNum {
    padding: 14px 0 8px;
    height: 36px;
}

.m-flashSaleProduct .rt .itemNum .numBar {
    float: left;
    position: relative;
    width: 152px;
    height: 10px;
    margin: 2px 0;
    border: 1px solid #f2cecd;
    border-radius: 5px;
    overflow: hidden;
}

.m-flashSaleProduct .rt .itemNum .numBarIn {
    background-color: #ffe5e5;
    height: 10px;
}

.m-flashSaleProduct .rt .itemNum .numTips {
    height: 14px;
    margin-left: 162px;
    font-size: 14px;
    color: #999;
    line-height: 14px;
}

.m-flashSaleProduct .rt .itemPrice {
    font-size: 14px;
    line-height: 1;
    vertical-align: baseline;
}

.m-flashSaleProduct .rt .itemPrice .aPrice {
    color: #be4141;
}

.m-flashSaleProduct .rt .itemPrice .yuan {
    font-size: 18px;
    margin-left: 4px;
}

.m-flashSaleProduct .rt .itemPrice .aPriceIn {
    margin-right: 12px;
    vertical-align: sub;
    font-weight: 700;
    font-size: 24px;
}

.m-flashSaleProduct .rt .itemPrice .oPrice {
    color: #999;
}

.m-flashSaleProduct .rt .itemPrice .oPriceIn {
    text-decoration: line-through;
}

.m-flashSaleProduct .rt .tobuyBtn {
    background-color: #be4141;
    color: #fff;
}

.m-flashSaleProduct .rt .w-btn {
    display: block;
    width: 118px;
    height: 31px;
    margin-top: 18px;
    line-height: 31px;
    text-align: center;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
}

.m-saleCenter {
    margin-top: 60px;
    padding: 54px 0 52px;
    height: 526px;
    background-color: #f4f0ea;
}

.m-saleCenter .saleCenterList .m-indexCarousel {
    width: 224px;
}

.f-fl {
    float: left;
    display: inline;
}

.m-saleCenter .saleCenterList .m-indexCarousel .m-focus {
    height: 376px;
}

.m-focus {
    position: relative;
    background: #f5f5f5;
    z-index: 1;
}

.m-saleCenter .slick-slider {
    position: static;
}

.m-focus .m-focusSlick {
    position: relative;
    overflow: hidden;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    transform: translate3d(0, 0, 0);
}

.slick-list {
    position: relative;
    z-index: 0;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.m-saleCenter .saleCenterList .m-indexCarousel .m-focus .wrap {
    height: 376px !important;
}

.normal .wrap {
    width: 100%;
    min-height: 310px;
}

.m-saleCenter .saleCenterList img {
    width: 100%;
    height: 100%;
}

.m-saleCenter .saleCenterList .moduleList {
    width: 866px;
}

.m-saleCenter .saleCenterList .moduleList .module-0 {
    width: 624px;
    height: 376px;
    padding: 0 17px 0 19px;
}

.m-saleCenter .saleCenterList .moduleList .module {
    float: left;
    background-color: #fff;
}

.m-saleCenter .saleCenterList .moduleList .module-0 .moduleHd {
    font-size: 18px;
    border-bottom: 1px solid #F4F0EA;
}

.m-saleCenter .saleCenterList .moduleList .module .moduleHd {
    padding: 19px 0 12px;
}

.m-saleCenter .saleCenterList .moduleList .module .moduleHd .lt {
    font-size: 16px;
}

.m-saleCenter .saleCenterList .moduleList .module .moduleHd .rt {
    color: #999;
    font-size: 12px;
    cursor: pointer;
    margin-top: 6px;
}

.f-fr {
    float: right;
    display: inline;
}

.f-fr:hover a {
    color: #a7936e;
}

.m-saleCenter .saleCenterList .moduleList .module .moduleHd {
    padding: 19px 0 12px;
}

.m-saleCenter .saleCenterList .moduleList .module-0 .moduleBd {
    margin-top: 20px;
    margin-right: -20px;
}

.m-saleCenter .saleCenterList .moduleList .module-0 .item {
    position: relative;
    width: 284px;
    margin: 0 20px 20px 0;
    font-size: 14px;
}

.m-saleCenter .saleCenterList .moduleList .module-0 .item .hd {
    position: relative;
    width: 130px;
    height: 130px;
    margin-right: 10px;
    background-color: #FBF9F6;
}

.m-saleCenter .saleCenterList .moduleList .module-0 .item .bd .name {
    max-width: 130px;
    max-height: 40px;
    overflow: hidden;
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
}

.m-saleCenter .saleCenterList .moduleList .module-0 .item .bd .limitPrice {
    color: #BE4141;
}

.m-saleCenter .saleCenterList .moduleList .module-0 .item .bd .limitPrice .yen {
    font-size: 12px;
    vertical-align: -2px;
}

.m-saleCenter .saleCenterList .moduleList .module-0 .item .bd .limitPrice .num {
    vertical-align: -2px;
    font-size: 20px;
    font-weight: 700;
}

.m-saleCenter .saleCenterList .moduleList .module-0 .item .bd .counterPrice {
    margin-top: 2px;
    color: #A4A4A4;
}

.m-saleCenter .saleCenterList .moduleList .module-0 .item .bd .counterPrice .num {
    text-decoration: line-through;
}

.m-saleCenter .saleCenterList .moduleList .module-0 .item .bd .btn {
    position: absolute;
    bottom: 8px;
    width: 90px;
    line-height: 26px;
    text-align: center;
    background-color: #BE4141;
    border: 1px solid #D25A5A;
    border-radius: 2px;
}

.w-button {
    border-radius: 2px;
    width: 96px;
    height: 28px;
    padding: 0;
    letter-spacing: normal;
    line-height: 26px;
    font-size: 12px;
    text-align: center;
    color: #333;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

.m-saleCenter .saleCenterList .moduleList .module-0 .item .bd .btn a {
    color: #fff;
}

.m-saleCenter .saleCenterList .moduleList .module-0 .item .bd .btn:hover {
    background-color: #da4f4f;
}

.m-saleCenter .saleCenterList .moduleList .module-1,
.m-saleCenter .saleCenterList .moduleList .module-2 {
    width: 242px;
    height: 188px;
    padding: 0 20px 0 22px;
    border-left: 1px solid #F4F0EA;
}

.m-saleCenter .saleCenterList .moduleList .module-1 .item,
.m-saleCenter .saleCenterList .moduleList .module-2 .item {
    position: relative;
    width: 200px;
    margin-bottom: 20px;
    font-size: 14px;
}

.m-saleCenter .saleCenterList .moduleList .module-1 .item .hd,
.m-saleCenter .saleCenterList .moduleList .module-2 .item .hd {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-color: #FBF9F6;
}

.m-saleCenter .saleCenterList .moduleList .module-1 .item .bd .name,
.m-saleCenter .saleCenterList .moduleList .module-2 .item .bd .name {
    max-width: 130px;
    margin: 4px 0 14px;
}

.f-text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.m-saleCenter .saleCenterList .moduleList .module-1 .item .bd .price .limitPrice,
.m-saleCenter .saleCenterList .moduleList .module-2 .item .bd .price .limitPrice {
    color: #BE4141;
}

.m-saleCenter .saleCenterList .moduleList .module-1 .item .bd .cart-salecart,
.m-saleCenter .saleCenterList .moduleList .module-2 .item .bd .cart-salecart {
    position: absolute;
    right: 0;
    bottom: 0;
}

.cart-salecart {
    height: 24px;
    width: 24px;
}

.w-icon-cart {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    font-size: 12px;
    word-spacing: normal;
    letter-spacing: normal;
    background: url(../img/cart.webp) no-repeat;
    background-position: 0 -199px;
}

.m-saleCenter .saleCenterList .moduleList .module-1 .item .bd .price .counterPrice,
.m-saleCenter .saleCenterList .moduleList .module-2 .item .bd .price .counterPrice {
    color: #999;
    text-decoration: line-through;
}

.moduleList .module .moduleBd .bd .name:hover a {
    color: #a7936e;
}

.m-indexCates {
    margin-top: 60px;
}

.m-indexCates .g-row:first-child {
    margin-top: 0;
}

.m-commonHeader {
    padding-bottom: 20px;
    line-height: 1;
}

.m-commonHeader .subCateList {
    display: inline-block;
    font-size: 14px;
    padding-top: 14px;
}

.m-commonHeader .subCateList .spilt {
    margin: 0 13px;
}

.m-indexCates .m-indexCate .banner {
    margin-bottom: 20px;
}

.m-focus .m-focusSlick {
    position: relative;
    overflow: hidden;
}

.m-focusSlick .slick-prev {
    left: 10px;
}

.m-focusSlick .slick-next,
.m-focusSlick .slick-prev {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 130px;
    z-index: 10;
    background-color: #D0C4AF;
    border-radius: 50%;
    cursor: pointer;
    opacity: 80;
}

.w-icon-normal {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    font-size: 12px;
    word-spacing: normal;
    letter-spacing: normal;
    background: url(../img/arrow.webp) no-repeat;
}

.icon-normal-slick-leftRound {
    background-position: 0 -5408px;
    height: 50px;
    width: 50px;
}


.slick-initialized .slick-slide {
    display: block;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.m-indexCates .m-indexCate .banner img {
    width: 100%;
    height: 310px;
}

.slick-slide img {
    display: block;
}

button {
    border: 0;
}

.m-focusSlick .slick-next:hover,
.m-focusSlick .slick-prev:hover {
    background-color: #B19D79;
}

.icon-normal-slick-rightRound {
    background-position: 0 -5628px;
    height: 50px;
    width: 50px;
}

.m-focusSlick .slick-next {
    right: 10px;
}

.m-focusSlick .slick-dots {
    position: absolute;
    bottom: 4px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
}

.m-focusSlick .slick-dots li {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 8px 10px;
    padding: 0;
    cursor: pointer;
}

.m-focusSlick .slick-dots li.slick-active button {
    box-shadow: 0 0 0 4px #dfcead;
    background: #a7936e;
    border-radius: 500px;
    border: none;
}

.m-focusSlick .slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 500px;
    cursor: pointer;
    color: transparent;
    border: 1px solid #cecece;
    background: #fff;
}

.m-indexCates .m-indexCate>.bd {
    width: 1090px;
    overflow: hidden;
}

.m-indexCates .m-indexCate>.bd .itemList {
    margin-right: -10px;
}

.m-indexCates .m-indexCate>.bd .itemList .item {
    float: left;
    margin: 0 10px 50px 0;
    width: 265px;
}

.m-indexCates .m-indexCate>.bd .itemList .item .m-product {
    width: 265px;
    height: 361px;
}

.m-product.showScene {
    width: 245px;
    height: 401px;
}

.m-product {
    line-height: 1;
    text-align: center;
    font-size: 13px;
    width: 245px;
    height: 381px;
    position: relative;
}

.m-product.showScene:hover {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .2);
    background-color: #f4f0ea;
}

.m-product .hd {
    position: relative;
    margin-bottom: 8px;
    overflow: hidden;
    background-color: #f4f4f4;
}

.m-indexCates .m-indexCate>.bd .itemList .item .m-product img {
    width: 265px;
    height: 265px;
}

.m-product .img {
    width: 245px;
    height: 245px;
    transition: transform 1s;
    background-color: #f4f4f4;
    color: #f4f4f4;
    display: block;
    margin: 0 auto;
}

.m-product.showScene .imgScene {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    opacity: 0;
    width: 245px;
    height: 245px;
}

.m-product.showScene:hover .imgScene {
    opacity: 1;
}

.m-product .hd .colorNum {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 20px;
    font-size: 12px;
    color: #a7936e;
    border: 1px solid #b3a07d;
    border-radius: 5px;
    padding: 0 4px;
    line-height: 18px;
    background-color: #f4f0ea;
}

.m-product.showScene:hover .colorNum {
    display: none;
}

.m-product .prdtTags {
    height: 20px;
    font-size: 0;
    color: #fff;
    width: 200px;
    margin: 0 auto 3px;
    overflow: hidden;
}

.prdtTags {
    height: 20px;
    font-size: 0;
    color: #fff;
    width: 200px;
    margin: 0 auto 3px;
    overflow: hidden;
}

.m-itemTag:first-child {
    margin-left: 0;
}

.m-itemTag {
    margin-left: 6px;
}

.m-itemTag {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: #fff !important;
    padding: 0 5px;
    font-size: 12px;
    background-color: #e36844;
}

.m-product .name {
    width: 166px;
    margin: 0 auto 4px;
    max-height: 40px;
    line-height: 20px;
    display: -webkit-box;
    overflow: hidden;
}

.m-product .price {
    font-size: 13px;
    line-height: 13px;
    color: #d4282d;
    padding: 1px 0 9px;
    margin: 0;
    text-align: center;
}

.m-product .price .retailPrice,
..m-product .price .unitPrice {
    position: relative;
    top: 1px;
}

.item .m-product .price span {
    line-height: 13px;
    height: 13px;
    padding: 0;
}

.m-product .price span {
    display: inline-block;
    overflow: hidden;
    height: 20px;
    line-height: 22px;
}

.m-expert {
    margin-bottom: 80px;
}

.m-commonHeader {
    padding-bottom: 20px;
}

.m-commonHeader .frontName {
    padding-top: 13px;
    display: inline-block;
    line-height: 1;
}

.m-expert .expert.first {
    margin-left: 0;
    width: 690px;
}

.m-expert .expert {
    float: left;
    margin-left: 10px;
}

.m-expert .expert.first .img {
    width: 690px;
    height: 380px;
}

.m-expert .expert.small {
    width: 390px;
}

.m-expert .expert.small .img {
    width: 390px;
    height: 185px;
}

.m-expert .expert.small.last {
    margin-top: 10px;
}

.m-indexComment {
    background-color: #f4f0ea;
    padding: 60px;
    overflow: hidden;
    height: 660px;
}

.m-indexComment .slickWidth {
    width: 1090px;
    overflow: hidden;
}

.m-indexComment .slick-slider {
    position: static;
}

.m-indexComment .commentSlick {
    width: 1100px;
}

.m-indexComment .slick-prev {
    left: -60px;
}

.m-indexComment .slick-next {
    right: -60px;
}

.m-indexComment .slick-next,
.m-indexComment .slick-prev {
    position: absolute;
    z-index: 9;
    top: 200px !important;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 80;
    background-color: #E2C199;
    border-radius: 500px;
}

.m-indexComment .m-product {
    background-color: #FFF;
    height: 492px;
    width: 355px;
    position: relative;
}

.m-indexComment .m-product .hd {
    margin-bottom: 0;
    width: 355px;
    height: 355px;
    transition: height linear .3s;
    overflow: hidden;
}

.m-indexComment .m-product .img {
    width: 355px;
    height: 355px;
    background: #ffffff;
    color: #fff;
}

.m-indexComment .m-product>.bd {
    position: absolute;
    margin: 0 5px;
    min-height: 180px !important;
    width: 345px;
    bottom: 0;
    background: #fff;
    zoom: 1;
    overflow: hidden;
}

.m-indexComment .m-product .m-comment {
    padding: 20px 15px;
    overflow: hidden;
}

.m-indexComment .m-product .m-comment ._top {
    color: #999;
    font-size: 13px;
    line-height: 1;
    margin-bottom: 12px;
    height: 14px;
}

.m-indexComment .m-product .m-comment .bd .frontname,
.m-indexComment .m-product .m-comment .bd .pname {
    float: left;
    font-size: 14px;
    color: #333;
    line-height: 14px;
    font-weight: 700;
}

.m-indexComment .m-product .m-comment .bd .frontname {
    color: #999;
    font-weight: 400;
}

.m-indexComment .m-product .m-comment .bd .date {
    float: left;
    padding-left: 10px;
}

.m-indexComment .m-product .m-comment ._middle {
    color: #999;
    margin-bottom: 16px;
    height: 24px;
}

.m-indexComment .m-product .m-comment .bd .pname {
    max-width: 190px;
    font-size: 16px;
    height: 17px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.m-indexComment .m-product .m-comment .bd .price {
    margin-bottom: 0;
    margin-right: 15px;
    color: #b4a078;
    float: right;
}

.m-indexComment .m-product .m-comment .comment-content {
    text-align: left;
    font-size: 14px;
    color: #333;
    line-height: 16px;
    min-height: 80px;
    max-height: 80px;
    transition: max-height .4s easa-in ease-in-out;
    overflow: hidden;
    position: relative;
}

.m-indexComment .m-product .m-comment .comment-content p {
    line-height: 20px;
}

.slick-track .slick-cloned {
    margin-left: 10px;
}

.m-indexSideBar {
    width: 110px;
    border: 1px solid #E2DED6;
    left: 50%;
    margin-left: -680px;
    z-index: 98;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    display: block;
    opacity: 1;
    will-change: transform;
    transform: translateZ(0);
}

.m-indexSideBar.fixed {
    position: fixed;
    top: 62px !important;
    z-index: 999;
    left: 0;
    margin-left: 0;
}

.m-indexSideBar .item {
    width: 108px;
    height: 36px;
    padding: 1px 11px 0;
    text-align: left;
    position: relative;
    display: table;
    cursor: pointer;
}

.m-indexSideBar .firstItem {
    background: url(../img/7c185.webp) bottom no-repeat;
}

.m-indexSideBar .firstItem {
    background: url(../img/7c185.webp) bottom no-repeat;
    font-size: 16px;
    color: #BB3343;
    text-align: center;
    line-height: 38px;
    height: 38px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-weight: 700;
    cursor: default;
    padding: 0;
}

.m-indexSideBar .item .sideIcon {
    position: absolute;
    top: 2px;
    left: 12px;
    width: 30px;
    height: 30px;
}

.m-indexSideBar .item .name {
    vertical-align: middle;
    display: table-cell;
    line-height: 14px;
    font-size: 12px;
    padding-left: 36px;
}

.m-indexSideBar .item:after {
    content: '';
    display: block;
    width: 88px;
    border-bottom: 1px solid #E2DED6;
    position: absolute;
    bottom: -1px;
    left: 11px;
    z-index: 1;
}

.m-indexSideBar .item:hover {
    color: #BB3343;
}

.yx-cp-m-foot {
    clear: both;
    padding-top: 0;
}

.yx-cp-base {
    line-height: 1.5;
    font-family: "Microsoft Yahei", "微软雅黑", verdana;
    color: #333;
}

.yx-cp-m-foot .yx-cp-m-ft1 {
    padding-top: 60px;
    padding-bottom: 34px;
    background-color: #fff;
    border-top: 1px solid #e8e8e8;
    height: 300px;
}

.yx-cp-m-foot .yx-cp-row {
    width: 1090px;
    margin: 0 auto;
    position: relative;
}

.yx-cp-m-foot .yx-cp-m-ft1 .yx-cp-item:first-child {
    border-left: 0;
}

.yx-cp-m-foot .yx-cp-m-ft1 .yx-cp-item {
    width: 33.33333%;
    height: 204px;
    float: left;
    border-left: 1px solid #e9e9e9;
}

.yx-cp-m-foot .yx-cp-m-serviceTel {
    text-align: center;
    line-height: 1;
}

.yx-cp-m-foot .yx-cp-m-ft1 .yx-cp-item .yx-cp-hd {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 28px;
    line-height: 1;
}

.yx-cp-m-foot .yx-cp-m-serviceTel .yx-cp-btn {
    width: 80px;
    height: 100px;
    font-size: 14px;
    background-color: #fff;
    padding-top: 25px;
    text-align: center;
    border: 1px solid #E8E8E8;
}

.yx-cp-base .yx-w-button {
    border-radius: 2px;
    width: 96px;
    height: 28px;
    padding: 0;
    vertical-align: middle;
    letter-spacing: normal;
    line-height: 26px;
    font-size: 12px;
    text-align: center;
    color: #333;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

.yx-cp-base .yx-w-button {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    font-size: 12px;
    word-spacing: normal;
    letter-spacing: normal;
}

.yx-cp-icon-yxfoot {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    font-size: 12px;
    word-spacing: normal;
    letter-spacing: normal;
}

.icon-yxfoot-service {
    background-position: 0 -290px;
    height: 26px;
    width: 31px;
}

.yx-cp-icon-yxfoot {
    background-image: url(../img/icon-yxfoot.webp);
}

.yx-cp-m-foot .yx-cp-m-serviceTel .yx-cp-btn .icon-yxfoot-service.service-hover,
.yx-cp-m-foot .yx-cp-m-serviceTel .yx-cp-btn .icon-yxfoot-feedback.feedback-hover {
    display: none;
}

.yx-cp-base .yx-f-margin-top-10 {
    margin-top: 10px;
}

.yx-cp-m-foot .yx-cp-m-serviceTel .yx-cp-btn.yx-cp-feedbackBtn {
    margin-left: 29px;
}

.icon-yxfoot-feedback {
    background-position: 0 -97px;
    height: 27px;
    width: 30px;
}

.yx-cp-icon-yxfoot {
    background-repeat: no-repeat;
}

.yx-cp-m-foot .yx-cp-m-whatIsYX {
    padding: 0 37px;
    text-align: center;
    line-height: 1;
}

.yx-cp-m-foot .yx-cp-m-whatIsYX .yx-cp-desc {
    text-align: left;
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 22px;
}

.yx-cp-m-foot .yx-cp-m-followUs {
    padding: 0 37px;
    line-height: 1;
    text-align: left;
}

.yx-cp-m-foot .yx-cp-m-followUs .yx-cp-title {
    margin-right: 15px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 32px;
    float: left;
}

.yx-cp-m-foot .yx-cp-m-followUs .yx-cp-followWayList {
    float: left;
}

.yx-cp-m-foot .yx-cp-m-followUs .yx-cp-followWay {
    margin-right: 15px;
    position: relative;
    padding-bottom: 10px;
}

.yx-cp-base .yx-f-left {
    float: left;
}

.icon-yxfoot-yx {
    background-position: 0 -470px;
    height: 32px;
    width: 32px;
}

.yx-cp-m-foot .yx-cp-m-followUs .yx-cp-followWay .yx-cp-bd {
    position: absolute;
    display: none;
    top: 38px;
    left: -47px;
    width: 123px;
    padding-top: 5px;
}

.yx-cp-m-foot .yx-cp-m-followUs .yx-cp-followWay .yx-cp-wrap {
    position: relative;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
}

.yx-cp-m-foot .yx-cp-m-followUs .yx-cp-followWay .yx-cp-wrap .yx-cp-imgQR {
    width: 103px;
    height: 103px;
}

.yx-cp-base img {
    border: 0;
    vertical-align: top;
}

.yx-cp-m-foot .yx-cp-m-followUs .yx-cp-followWay .yx-cp-wrap .icon-yxtop-upArrowshadow {
    display: block;
    position: absolute;
    top: -7px;
    right: 0;
    left: 0;
    margin: auto;
}

.yx-cp-icon-yxtop {
    background-image: url(../img/icon-yxfoot.webp);
}

.icon-yxtop-upArrowshadow {
    background-position: 0 -705px;
    height: 7px;
    width: 12px;
}

.yx-cp-m-foot .yx-cp-m-followUs .yx-cp-followWay {
    margin-right: 15px;
    position: relative;
    padding-bottom: 10px;
}

.icon-yxfoot-wx {
    background-position: 0 -428px;
    height: 32px;
    width: 32px;
}

.icon-yxfoot-wb {
    background-position: 0 -326px;
    height: 32px;
    width: 32px;
}

.yx-cp-m-foot .yx-cp-m-followUs .yx-cp-followWay:hover .yx-cp-bd {
    display: block;
}

.yx-cp-m-foot .yx-cp-m-ftAppDownload {
    text-align: center;
}

.yx-cp-m-foot .yx-cp-m-ftAppDownload .yx-cp-footQRcode {
    display: inline-block;
    width: 103px;
    height: 103px;
}

.yx-cp-m-foot .yx-cp-m-ftAppDownload .yx-cp-footQRcode img {
    width: 100%;
    height: 100%;
}

.yx-cp-m-foot .yx-cp-m-ftAppDownload .yx-cp-tip {
    color: #b4a078;
    font-size: 12px;
    margin-top: 5px;
}

.yx-cp-m-foot .yx-cp-m-ft2 {
    height: 250px;
    padding-top: 37px;
    background-color: #414141;
}

.yx-cp-m-foot .yx-cp-row {
    width: 1090px;
    margin: 0 auto;
    position: relative;
}

.yx-cp-m-foot .yx-cp-m-siteEnsure {
    margin-bottom: 30px !important;
    padding-left: 17px;
}

.yx-cp-m-foot .yx-cp-m-siteEnsure .yx-cp-item {
    float: left;
}

.yx-cp-m-foot .yx-cp-m-siteEnsure .yx-cp-item .yx-cp-inner {
    color: #fff;
    font-size: 18px;
    line-height: 51px;
    display: inline-block;
    vertical-align: middle;
}

.yx-cp-m-foot .yx-cp-m-siteEnsure .yx-cp-item .yx-cp-inner .yx-cp-icon {
    margin-right: 17px;
}

.yx-cp-m-foot .yx-cp-m-siteEnsure .yx-cp-item .yx-cp-inner .yx-cp-icon,
.yx-cp-m-foot .yx-cp-m-siteEnsure .yx-cp-item .yx-cp-inner .yx-cp-text {
    float: left;
}

.icon-yxfoot-netease {
    background-position: 0 -134px;
    height: 50px;
    width: 50px;
}

.yx-cp-m-foot .yx-cp-m-siteEnsure .yx-cp-item-2 {
    margin: 0 122px;
}

.icon-yxfoot-wuyou {
    background-position: 0 -368px;
    height: 50px;
    width: 51px;
}

.yx-cp-m-foot .yx-cp-m-siteEnsure .yx-cp-item-3 {
    margin-right: 122px;
}

.icon-yxfoot-baoyou {
    background-position: 0 0;
    height: 50px;
    width: 51px;
}

.icon-yxfoot-quality {
    background-position: 0 -194px;
    height: 50px;
    width: 50px;
}

.yx-cp-m-foot .yx-cp-m-ft2 .yx-cp-hr {
    height: 1px;
    margin-bottom: 27px;
    background-color: #4f4f4f;
    border: 0;
}

.yx-cp-m-foot .yx-cp-m-siteInfo {
    text-align: center;
    color: #999;
    position: relative;
}

.yx-cp-m-foot .yx-cp-m-siteInfo .yx-cp-nav .yx-cp-text {
    color: #999;
}

.yx-cp-m-foot .yx-cp-m-siteInfo .yx-cp-nav .yx-cp-split {
    margin: auto 13px;
}

.yx-cp-m-foot .yx-cp-m-siteInfo .yx-cp-copyright {
    white-space: nowrap;
    margin: 11px 0;
}

.yx-cp-m-foot .yx-cp-m-siteInfo .yx-cp-copyright a {
    color: #999;
    margin-right: 15px;
}

.yx-cp-m-foot .yx-cp-m-siteInfo .yx-cp-police a {
    color: #999;
}

.yx-cp-m-foot .yx-cp-m-siteInfo .yx-cp-police .yx-cp-shield img {
    width: 23px;
    height: 25px;
    margin-top: -5px;
}

.side {
    width: 80px;
    height: 480px;
    background-color: #fff;
    position: fixed;
    top: 62px;
    right: 0;
    padding-top: 10px;
    z-index: 999;
}

.side .tuijian {
    width: 65px;
    height: 80px;
    line-height: 30px;
    margin: 0 auto;
    border-bottom: 1px solid #e1e1e1;
}

.side .tuijian a {
    width: 75px;
    height: 24px;
    margin: 0 auto;
    display: block;
}

.side .tuijian .sign {
    display: inline-block;
    width: 75px;
    height: 33px;
    background: url(../img/icon-yxfixedtool.webp) no-repeat;
}

.side .tuijian .gift {
    background-position: 20px -361px;
}

.side .guan {
    font-size: 16px;
    line-height: 24px;
    width: 70px;
    display: block;
    height: 24px;
    color: #666;
    text-align: center;
}

.side .tuijian:hover .gift {
    background-position: 20px -322px;
}

.side .tuijian:hover .new-gift {
    color: #cc9756;
}

.side .second_code {
    margin: 0;
    padding: 0;
}

.side .tuijian .code {
    width: 80px;
    height: 80px;
}

.side .tuijian .code img {
    width: 100%;
    height: 100%;
}

.side .get_money {
    padding: 5px 0;
}

.side .get_money .guan {
    line-height: 15px;
    height: 20px;
}

.side .tuijian .neck {
    font-size: 12px;
}

.side .tuijian .red-packet {
    font-size: 12px;
    color: #D25A5A;
    margin: 0 auto;
    width: 55px;
}

.side .tuijian .subscription {
    background-position: 20px -519px;
}

.side .tuijian:hover .subscription {
    background-position: 20px -447px;
}

.side .tuijian .ele {
    font-size: 14px;
}

.side .tuijian .hidden {
    position: absolute;
    top: 165px;
    right: 90px;
    background-color: #fff;
    width: 370px;
    height: 235px;
    text-align: center;
    display: none;
}

.side .tuijian .hidden .life {
    font-size: 0;
    position: relative;
}

.side .tuijian .hidden .beauty {
    display: inline-block;
    width: 370px;
    height: 70px;
    background: url(../img/86fe9.webp) no-repeat;
    font-size: 27px;
    font-style: normal;
    line-height: 70px;
    color: #fff;
}

.side .tuijian .hidden .close {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 2px;
    bottom: 20px;
    background-position: 0 0;
    cursor: pointer;
}

.side .tuijian .hidden .triangle {
    position: absolute;
    width: 20px;
    height: 20px;
    right: -20px;
    bottom: -70px;
    background-position: 0 -403px;
}

.side .tuijian .hidden p {
    font-size: 14px;
    color: #9e9e9e;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
}

.side .tuijian:hover .hidden {
    display: block;
}

.side .tuijian .hidden .sub-box {
    font-size: 0;
}

.side .tuijian .hidden input,
.side .tuijian .hidden button {
    font-size: 14px;
}

.side .tuijian .hidden .email {
    height: 40px;
    width: 215px;
    background-color: #f3f5ef;
    padding: 0 10px;
    border: 1px solid #e1e1e1;
}

.side .tuijian .hidden .order {
    background-color: #a7936e;
    width: 85px;
    height: 41px;
    color: #fff;
    margin: 0;
    cursor: pointer;
}

.side .tuijian .hidden .icon {
    width: 350px;
    margin: 0 auto;
    padding: 20px 0;
}

.side .tuijian .hidden .icon i {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url(../img/icon-yxfixedtool.webp) no-repeat;
    vertical-align: middle;
}

.side .tuijian .hidden .icon span {
    color: #a7936e;
    padding-right: 24px;
    font-size: 14px;
}

.side .tuijian .hidden .icon .discount i {
    background-position: 5px -561px;
}

.side .tuijian .hidden .icon .vip i {
    background-position: 5px -23px;
}

.side .tuijian .hidden .icon .goods i {
    background-position: 5px -430px;
}

.side .tuijian .service {
    height: 40px;
    background-position: 16px -118px;
}

.side .tuijian:hover .service {
    background-position: 16px -36px;
}

.side .anchor-box {
    border: 0;
    line-height: 1;
}

.side .tuijian .anchor {
    height: 30px;
    line-height: 1;
    background-position: 20px -289px;
}

.side .tuijian:hover .anchor {
    background-position: 20px -239px;
}